{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>Login - BeRealMotors Spare Parts Company</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


</head>

<body style="background-color: aliceblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'images/spareparts.avif' %}" alt="logo"
                    class="logo-img" /></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}" id="t">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
    
                </ul>
            </div>

            <div class="ml-auto">
                <a class="btn btn-light" href="/admin" id="demi">Admin</a>
            </div>
        </div>
    </nav>
    <!-- end of nav -->
    <div class="login-container" style="padding-top: 10px;">
        <div class="icon-container">
          <span class="material-icons-outlined icon" style="font-size: 40px;">
            perm_identity
          </span>
        </div>
        <h3 class="heading">Member Login</h3>
      </div>
    {% block content %}
    <form id="form" method="POST"
        style="border-radius: 25px; border: 2px solid white; padding: 20px; width: 400px; height: 350px; margin: 0 auto; 
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
        {% csrf_token %}
        {{form | crispy}}
        <br>
        <input type="submit" name="Submit" class="btn   btn-block submit"
            style="background-color: #343a40; color: aliceblue;"> <br>
    </form>

    {% endblock %}


    <!-- </div> -->

    <strong>
        <div class="footer">
            <div class="social-icons">
                <a href="https://www.facebook.com/your-page" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/your-handle" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/your-account/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <footer class=" text-center" style="color:white;">
                <p>Designed by Nalugya Vanessa</p>
                <p>&copy; 2023 BeRealMotors Spare Parts Company. All rights reserved.</p>
            </footer>
        </div>
    </strong>



</body>

</html>