.julie{
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  
  } 
  .hanisha {
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #demi {
    background-color: white;
    width: 80px;
    color: black;
    border-radius: 10px;
    border: 0px;
    outline: 1px;
  
  
  }

  #demi:hover {
    background-color: aliceblue;
    font-size: 35px;
    border: 10px #343a40;
    color: black;
    font-size: large;
  }

  .nav-link{
    font-size: larger;
  }
  .logo-img{
    width:50px;
    border-radius: 10%;

  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #4CAF50;
  }
  .footer{
 
    padding-top:60px;
    background-color: #121314;
    color: white;
    position: absolute;
    width: 100%;
    }
  
    .submit {
      background-color: #343a40;
      cursor: pointer;
        border-radius: 10px;
        border: 10px solid;
        padding-left: 20px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        /* margin-left: 5%; */
        font-size: 13px;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
        width:200px;
    }
    .btn{
      background-color: #343a40;
      color:aliceblue;
    }

    .btn:hover {
      background-image: none;
      background-color:lightblue;
      font-size: 35px;
      border: 10px #343a40;
      color: lightblue;
      font-size: larger;
    }
  
    body {
      font-family: 'Ubuntu', sans-serif;
      color: #404040;
  }
  
  form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    
    
  }

label{
  color: black;
  /* margin-left: 5%; */
}



#id_username {
border: 1px solid;
margin-bottom: 20px;


}
#id_password {
  border: 1px solid;
}

.asteriskField{
  color: red;
  font-style: bold;
}

/* Style for the material icon */

/* Style for the heading */
h3 {
  display: inline-block; /* Display the heading as an inline element */
  vertical-align: middle; /* Align the heading vertically */
  margin-bottom: 0; /* Remove default margin-bottom */
}

#t{
  color:white;
}
#t:hover{
  color:#FB667A;
}

#tt:hover{
  color: #FB667A;
}
#tt{
  color:white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Adjust this value to control the space between the icon and heading */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Adjust the width and height to create the circular border */
  height: 50px;
  border-radius: 50%; /* Create a circular border */
  border: 1px solid black; /* Border properties */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 60px;
}

.heading {
  color: black;
  padding-top: 10px;
  margin: 0;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .login-container {
      text-align: center;
  }

  .login-form {
      width: 90%;
      margin: 0 auto;
  }
}