html,body {
    position: relative;
    overflow-x: hidden;
    background:  url('/static/images/img6.jpg');
    width: 100% !important;
    height: 100vh;
    display: table;
    position: relative;
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
  
body{
      /* background-color: hsl(0, 0%, 98%); */
      font-family: 'raleway';
      color:#A7A1AE;
      background-color:#1F2739;
 }
 tbody{
  color: #fff;
}
    

form {
    width: 40%;
    margin: 0 auto;
}

.navbar {
    background-color:hsl(216, 25%, 90%);
}

.navbar li a :hover{
    font-size: 20px;
    color:darkgray;
    color: black;
}

.navbar-brand {
    font-size: 30px !important;
}

@media(max-width: 767px){
    form { 
        width: 90%;
    }
}


.logo-img{
    width:50px;
    border-radius: 10%;

  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #4CAF50;
  }
  .footer{
    background-color: hsl(216, 25%, 90%);
    padding:20px;
    width:100%;
    height: auto;
    bottom: 0;
    left: 0;
  }
    .project-h1 {
      font-size: 1em;
      font-weight: 300;
      line-height: 1em;
      text-align: center;
      color: #4DC3FA;
    }
    
    .project-h2 {
      font-size: 1em;
      font-weight: 300;
      text-align: center;
      display: block;
      line-height: 1em;
      padding-bottom: 2em;
      color: #FB667A;
    }
    
    .project-h2 a {
      font-weight: 700;
      text-transform: uppercase;
      color: #FB667A;
      text-decoration: none;
    }
    
    .blue-text { color: #185875; }
    .yellow-text { color: #FFF842; }
    
    .project-container th .project-h1 {
      font-weight: bold;
      font-size: 1em;
      text-align: left;
      color: #185875;
    }
    
    .project-container td {
      font-weight: normal;
      font-size: 1em;
      -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
      box-shadow: 0 2px 2px -2px #0E1119;
    }
    
    .project-container {
      text-align: left;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
      display: table;
      padding: 0 0 8em 0;
    }
    
    .project-container td, .project-container th {
      padding-bottom: 2%;
      padding-top: 2%;
      padding-left: 2%;
    }
    
    /* Background-color of the odd rows */
    .project-container tr:nth-child(odd) {
      background-color: #323C50;
    }
    
    /* Background-color of the even rows */
    .project-container tr:nth-child(even) {
      background-color: #2C3446;
    }
    
    .project-container th {
      background-color: #1F2739;
    }
    
    .project-container td:first-child { color: #FB667A; }
    
    .project-container tr:hover {
      background-color: #464A52;
      -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
      box-shadow: 0 6px 6px -6px #0E1119;
    }
    
    .project-container td:hover {
      background-color: #FFF842;
      color: #403E10;
      font-weight: bold;
      box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
      transform: translate3d(6px, -6px, 0);
      transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
      transition-timing-function: line;
    }
    
    @media (max-width: 800px) {
      .project-container td:nth-child(4),
      .project-container th:nth-child(4) { display: none; }
    }
    

    #rec{
      color: lightblue;
    }

    .mag{
      padding-top: 100px;
    }

/* ... Previous CSS code ... */

/* Hover styles for buttons with the hover-button class */
.hover-button:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: linear;
}

/* ... Rest of the CSS code ... */

   