.julie{
    /* background-image:url("../images/black.avif"); */
    background-color: #f5fdff;;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  
  } 
  #vanz{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family: sans-serif;
    color: black;
    font-size: 60px;
  }
  .back {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    margin-top: 20px;
    padding-bottom: 20px;
    /* Add some space above the images */
    }

.back img {
    width:80%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain image aspect ratio */
    margin: 0 5px; /* Add some space between images */
    border-radius: 50%;
}

  .welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:auto;
  }
  #second{
  padding-bottom: 10px; 
  color: black;
  font-size: 20px;
  padding-top: 10px;
  
  }
  .button {
    width: 100px;
    height: 40px;
    border-radius: 20%;/* Set the border-radius to half of the width/height */
    background-color:#c71616; /* Add a background color */
    color: white; /* Set the text color */
    font-size: 16px;
    border: 30px; /* Remove the default button border */
    cursor: pointer;
    text-align: center;
  }
  
  .button:hover {
    background-color: #77b7f2;
  }
  
  .button:active {
    background-color: #59dbfe;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #4CAF50;
  }
  .footer{
    /* display:flex; */
    padding-top:60px;
    background-color:  #343a40;
    color: white;
    }
  
    
      .hanisha {
        margin-left: auto;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .demi {
      background-color: white;
      width: 100px;
      color: black;
      border-radius: 10px;
      border: 0px;
      outline: 1px;
    
    
    }
    .logo-img{
      width:50px;
      border-radius: 10%;
  
    }
     h1 .mac{
      text-align: center;
    }

    .card{
      border: 2px solid #333; /* Add a 2px solid border with color #333 */
      border-radius: 10px;
    } 

    .demi:hover {
      background-color: aliceblue;
      font-size: 35px;
      border: 10px #343a40;
      color: black;
      font-size: large;
    }
    .nav-link{
      font-size: larger;
    }
    .nav-link:hover{
      color:#FB667A;
    }
 
